/* header */
.header{
    position: fixed;
    top: 30px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}
.header .inner-main{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}
.header .inner-main .inner-menu ul{
    display: flex;
    align-items: center;
    margin: 0;
}
.header .inner-main .inner-menu ul li{
    list-style: none;
    margin-left: 40px;
    font-size: 13px;
    letter-spacing: 1px;
}
.header .inner-main .inner-menu ul li a{
    color: var(--color-text);
}

.header .inner-main .inner-menu ul li .one{
    color: var(--color-two);
}
.header .inner-main .inner-menu ul li a:hover{
    color: var(--color-two);
}
/* end header */
/* selection one */
.selection-one{
    background-image: url(./imgaes/banner-bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

}
.selection-one .inner-main{
    position: relative;
    top: 250px;
}
.selection-one .inner-main .inner-title{
    font-size: 35px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}
.selection-one .inner-main .inner-des{
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
}
.selection-one .inner-main .inner-button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.selection-one .inner-menu{
    margin-top: 340px;
}
.selection-one .inner-menu .inner-box{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}
.selection-one .inner-menu .inner-box .inner-icon{
    background-color: var(--color-one);
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 50%;
}
.selection-one .inner-menu .inner-box .inner-title{
    color: black;
    font-weight: 450;
    margin: 25px 0;
}
.selection-one .inner-menu .inner-box .inner-des{
    font-size: 15px;
    text-align: center;
    color: #777;
}
.selection-one .inner-menu .inner-box:hover .inner-icon{
    background-color: var(--color-two);
    transition: all 0.3s;
}
/* end selection one */
